// global styles here
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: $raleway;
}
:focus {
    outline: $grey0 1px dotted; //this should have a lot of contrast for usability reasons
}
.wrapper {
    margin: auto;
    padding: 0 20px;
    max-width: 400px;
}
input {
    font-family: $raleway;
}
